@charset "UTF-8";

/* paleta de cores

#22F073
#18EFB4
#0AE0F0

*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: lightblue;
    height: 100vh;
}

section {
    background-color: white;
    display: block;
    margin: auto;
    width: 300px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.366);
    overflow: hidden;
    
    transition: width .3s, height .3s;
    transform: translate(-50%, -50%);
}

div#imagem {
    background-image: url(../imagens/login.jpg);
    width: 300px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    background-position: left center;
}

div#formulario {
    width: 250px;
    display: block;
    margin: auto;
    padding: 10px;
    position: relative;
}

div#formulario > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 5px;
}

div#formulario > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    line-height: 1.5em;
    margin: 10px 0px 15px 0px;
}

form > div.campo {
    border: 2px solid rgba(0, 170, 170, 0.137);
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.218);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    font-size: 1em;
}

div.campo > input {
    width: calc(100% - 34.779px);
    height: 100%;
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    transform: translateY(-8px);
}

div.campo > label > span {
    font-size: 1.3em;
    padding: 5px;
    margin-top: 5px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 125, 125, 0.805);
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    text-decoration: underline;
    background-color: rgba(0, 88, 88, 0.804);
    cursor: pointer;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    background-color: white;
    color: rgba(0, 88, 88, 0.804);
    border: 1px solid rgba(0, 125, 125, 0.805);
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao > span {
    font-size: 0.8em;
    padding-top: 5px;
}

form > a.botao:hover {
    background-color: rgba(0, 167, 167, 0.244);
}